<%= form_for @project do |f| %>
	<div class="full-height-wrapper text-gray-800 flex" data-controller="projects">
		<div class="project-details container bg-white p-8 w-1/3 bg-indigo-200 overflow-scroll">	
			<div class="field mb-4">
				<%= f.text_field :title, label: false, placeholder: 'Project title...',
										input_html: { class: 'text-4xl font-bold mb-4 w-full' } %>
				
			</div>
			
			<div class="field mb-4">
				<%= f.text_area :description, label: false, placeholder: 'Project description...',
										input_html: { class: 'w-full' } %>
			</div>

			<%= f.submit 'Save', class: 'main-btn text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full cursor-pointer' %>

			<div class="w-full py-6">
				<%= abyme_for(:participants, f, button_text: 'add participant', fields_html: { class: 'participant-fields' }) %>
			</div>
		</div>
		<div class="container bg-white p-8 w-2/3 overflow-scroll">
			<%= f.abyme_for(:tasks, limit: 3, partial: 'projects/task_fields') do |abyme| %>
				<%= abyme.records(order: {created_at: :asc},
					wrapper_html: { class: "persisted-tasks", data: { controller: "tasks-wrapper" } },
					fields_html: { class: "persisted-fields", data: { target: "tasks-wrapper.test" } },
					locals: {test_variable: "toto"}
				) %>
				<%= abyme.new_records(position: :end, 
					wrapper_html: { class: "new-tasks", data: { target: 'wrapper-target', controller: 'tasks-wrapper' } },
					fields_html: {class: "test", data: { target: 'sub-target', controller: 'sub-controller' } },
					locals: {test_variable: "tata"}
				) %>
				<%= add_associated_record(content: 'Add task', html: { id: 'add-task', class: 'border-solid border-2 rounded border-grey-300 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-center items-center leading-normal p-8 cursor-pointer w-full focus:outline-none' }) %>
			<% end %>
			<%# Trying old syntax for retrocompatibility %>
			<%= f.abymize(:meetings) do |abyme| %>
				<%= abyme.records %>
				<%= abyme.new_records %>
				<%= add_association(content: "Add meeting") %>
			<% end %>
		</div>
	</div>
<% end %>